* {
  margin: 0px;
  padding: 0px;
}
/* Connect with work sans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* shared styles */
.display-flex {
  display: flex;
}

/* gray 02 */
.text-gray {
  color: #424242;
}
/* gray 02 */
.text-light-gray {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

.text-primary {
  color: #ff900e;
}

.font-bold {
  font-weight: 700;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* header styles */
header {
  padding-bottom: 30px;
}

.navber {
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.nav-item {
  list-style: none;
}
.nav-item a {
  font-size: 16px;
  text-decoration: none;
  margin-left: 20px;
}

.navber,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner style start here */

.brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.banner-info {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.banner-title {
  color: #131313;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.banner-description {
  font-size: 1rem;
  color: #727272;
  margin-bottom: 1rem;
}

.btn-primary {
  color: white;
  font-size: 1rem;
  padding: 15px 20px;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #ff900e;
  border: 1px solid #ff900e;
  transition: 0.4s;
  cursor: pointer;
}
.btn-primary:hover {
  color: #ff900e;
  background-color: white;
  border: 1px solid #ff900e;
}

.banner img {
  width: 100%;
}
/* Banner style end here */

/* Feature section start here */
.teams {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
}
.team-img-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
/* .team-img-container .our-features-container {
  width: 50%;
}
*/

.feature-titles {
  display: flex;
}

.feature-title {
  color: black;
  font-size: 2.5rem;
}

.feature-title,
.freature-des {
  margin-bottom: 5px;
}
.our-features-container {
  margin-left: 50px;
}

#title_leftBar {
  border-left: 5px solid #ff900e;
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
  font-size: 2.2rem;
  line-height: 2.5rem;
  padding-left: 1.3rem;
  margin-bottom: 30px;
}

.features-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
}

.feature-des {
  width: 90%;
  margin-bottom: 1rem;
}

.feature-box {
  width: 90%;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 1rem;
}

.feature-box h2 {
  color: #424242;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.feature-container,
.member-experience {
  width: 50%;
}
.member-experience {
  position: relative;
}
.member-experience img {
  width: 100%;
  margin-bottom: 3rem;
}

.bedge {
  position: absolute;
  bottom: -3rem;
  left: -5rem;
  text-align: center;
  border-radius: 10px;
  width: 20%;
  color: white;
  padding: 2rem;
  background-color: #ff900e;
}

.bedge h2{
  font-size: 2.4rem;
}

.some-facts-section{
  margin: 4rem 0px;
}
.some-title{
  margin-bottom: 1rem;
}
 
.some-title h2{
  color: #424242;
  margin-bottom: 1rem;
}

.some-title p{
  color: #727272;
}

 
.facts-container{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4,1fr);
}
 

.fact-box{
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #FF900E;
}
.fact-box img{
  display: block;
  margin:0 auto;
  margin-bottom: 1rem;
}
.fact-box h2{
  color: #424242;
  margin-bottom: 1rem;
}
.fact-box h4{
  color: #727272;
}
.sponsors{
  margin-bottom: 50px;
}

 


/* Feature section end here */

@media screen and (max-width: 576px) {
  .brand {
    font-size: 2rem;
    font-weight: bold;
  }

  .banner-info {
    width: 90%;
  }
  .banner-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .btn-primary {
    color: white;
    font-size: 0.6rem;
    padding: 8px 10px;
  }

  .teams {
    padding: 0rem 1rem;
    flex-direction: column-reverse;
  }
   

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-img-container img {
    width: 100%;
  }

  .our-features-container {
    margin-bottom: 1rem;
  }

  .feature-title {
    font-size: 2rem;
  }
  .features-section {
    margin: 0rem 1rem;
    flex-direction: column;
  }

  .feature-container,
  .member-experience {
    width: 100%;
  }

  .team-img-container img {
    width: 100%;
  }
  .bedge {
    display: none;
  }
  .fact-title{
    padding: 0px 20px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .facts-container{
    padding:0px 20px;
    grid-template-columns: repeat(1,1fr);
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .feature-title {
    font-size: 2rem;
  }

  
  .features-section {
    margin: 0rem 1rem;
    flex-direction: column;
  }

  .feature-container,
  .member-experience {
    width: 100%;
  }
  .team-img-container img {
    width: 100%;
  }
  
  .bedge {
    display: none;
  }

  .fact-title{
    padding: 0px 20px;
    width: 100%;
    margin-bottom: 2rem;
  }

  .facts-container{
    padding:0px 20px;
    grid-template-columns: repeat(2,1fr);
  }

}
