/* Inter font linked here  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* custom color variable */
:root {
  --primary-color: #ffffff;
  --light-gray-color: rgba(255, 255, 255, 0.3);
  --secondary-color: #e6533c;
  --primary-font: "Inter", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

/* Shared styles */
.container {
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.cta-btn{
    font-size: 1rem;
    padding: 10px 15px;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: .3s;
}
.cta-btn:hover{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

/* navber styles start here */

.header-section {
  background-color: #111111;
  padding: 3rem 0px;
}
.navber-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand h1 {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  color: var(--secondary-color);
  font-family: var(--primary-font);
}
.menu-bar {
  display: none;
}
.nav-links {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid rgba(87, 87, 87, 0.451);
}

.first-link {
  margin-left: -1.5rem;
}
.nav-links li {
  list-style: none;
}

.nav-link {
  font-size: 1rem;
  color:var(--light-gray-color);
  margin-left: 2rem;
  font-family: var(--primary-font);
}

/* Banner style here */
.banner-container{
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
}

.banner-left,
.banner-right{
    width: 50%;
}

.banner-left h2{
    font-size: 5rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    margin-bottom: 1rem;
}

.shape{
    font-style: italic;
}

.banner-left p{
    font-size: 1.5rem;
    color: var(--light-gray-color);
    font-family: var(--primary-font);
    margin-bottom: 1rem;
}
.download-btn{
    font-size: 1rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid var(--light-gray-color);
    background-color: #111111;
}

.banner-right img{
    display: block;
    margin: 0 auto;
}

/* Small device */
@media screen and (max-width: 576px) {
  .navber-container {
    padding: 20px;
  }

  .menu-bar {
    display: block;
    font-size: 2rem;
    color: var(--primary-color);
  }
  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .menu-bar {
    display: block;
    font-size: 2rem;
    color: var(--primary-color);
  }
  .nav-links {
    display: none;
  }
}
